  <div class="inventory-window ">
    <div class="inventory-header">
      <h3 class="no-select">Inventory</h3>
    </div>
    <div class="content">
      <div class="row-1">
        <div class="armor-slots">
          <div class="inventory-item no-user-select" *ngFor="let a of armor"></div>
        </div>
        <div class="player-portrait-container">
            <img src="assets/player_portrait.png" alt="Player Image" class="player-image" class="no-select">
        </div>
        <div class="crafting-grid" data-grid="crafting">
          <div class="crafting-row" *ngFor="let row of crafting; let rowIndex = index">
            <div class="inventory-item no-user-select column" *ngFor="let item of row; let colIndex = index"
            (click)="onCellClick(item, $event, colIndex, rowIndex)"
            (contextmenu)="onCellClick(item, $event, colIndex, rowIndex)"
            (mouseenter)="onMouseEnter(item, $event)"
            (mouseleave)="onMouseLeave()">
            <ng-container *ngIf="item">
              <div class="image-wrapper">
                <div [innerHTML]="ImageService.getImageHtml(item)"></div>
                <p class="quantity-text" *ngIf="item.quantity > 1">{{item.quantity}}</p>
              </div>
            </ng-container>
          </div>
          </div>
        </div>
        <div class="arrow-container">
            <img src="assets/arrow.png" alt="Arrow Image" class="arrow-image" class="no-select">
        </div>
        <div class="output" data-grid="output">
            <div class="inventory-item no-user-select column"
              (click)="onOutputClick(output, $event)"
              (mouseenter)="onMouseEnter(output, $event)"
              (mouseleave)="onMouseLeave()">
              <ng-container *ngIf="output && output !== itemToMove">
                <div class="image-wrapper">
                  <div class="no-select" [innerHTML]="ImageService.getImageHtml(output)"></div>
                  <p class="quantity-text" *ngIf="output.quantity > 1">{{output.quantity}}</p>
                </div>
              </ng-container>
            </div>
        </div>
      </div>
      <div class="inventory-grid" #inventoryGrid data-grid="inventory">
        <div class="inventory-row" *ngFor="let row of items; let rowIndex = index">
          <div class="inventory-item no-user-select column items-cell" *ngFor="let item of row; let colIndex = index"
            (click)="onCellClick(item, $event, colIndex, rowIndex)"
            (contextmenu)="onCellClick(item, $event, colIndex, rowIndex)"
            (mouseenter)="onMouseEnter(item, $event)"
            (mouseleave)="onMouseLeave()">
            <ng-container>
              <div class="image-wrapper no-select">
                <p class="slot-number no-select" *ngIf="colIndex+1 === 4">{{ rowIndex + 1 }}</p>
                <div class="item-wrapper" *ngIf="item && item !== itemToMove">
                  <div class="no-select" [innerHTML]="ImageService.getImageHtml(item)"></div>
                  <p class="quantity-text no-select" *ngIf="item.quantity > 1">{{item.quantity}}</p>
                </div>
              </div>
            </ng-container>
        </div>
      </div>
    </div>
    <div class="item-popup no-select"
    [ngStyle]="{ display: hoveredItem ? 'block' : 'none' }"
    [style.left.px]="popupPosition.x"
    [style.top.px]="popupPosition.y">
      {{ hoveredItem?.getItemName() }}
    </div>
  </div>
  <div class="drag-overlay" *ngIf="isInventoryOpen"></div>