body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
  background-color: #191b1c;
}

.canvas-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 80vh; /* Adjust height as needed */
  width: 100wh; /* Full viewport width */
  padding-top: 50px;
  position: relative; /* Needed for absolute positioning of child elements */
}

.canvas-container {
  position: relative; /* Set this to position absolute elements within it */
  width: 1300px;
  height: 950px;
  display: flex;
  justify-content: center; /* Center horizontally */
  overflow: hidden; /* Hide scrollbars */
}

.overlay {
  position: absolute; /* Cover the whole viewport */
  top: 0;
  left: 0;
  width: 1300px;
  height: 950px;
  background-color: rgba(0, 0, 0, 0.5); /* Grey transparent background */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Hide scrollbars */
  z-index: 999; /* Ensure it's above the canvas but below the inventory */
  pointer-events: none; /* Allow clicks to pass through the overlay */
  box-sizing: border-box;
}

app-inventory {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  width: 542px; /* Width of the inventory window */
  height: 540px; /* Height of the inventory window */
  background-color: white; /* Background color */
  border: 2px solid #333; /* Border styling */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for visibility */
  z-index: 1000; /* Ensure it is above other content */
  overflow: hidden; /* Handle content overflow */
}

.hidden {
  display: none;
}

.drag-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: rgba(0, 0, 0, 0); /* Transparent overlay */
}

.hotbar-grid {
  position: absolute; /* Position absolute within the .canvas-container */
  bottom: 0.5%; /* Align to the bottom of the canvas */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for horizontal centering */
  display: grid;
  grid-template-columns: repeat(9, 50px); /* 9 columns of 50px each */
  grid-template-rows: repeat(1, 50px); /* 4 rows of 50px each */
  gap: 8px; /* Space between grid items */
  padding: 10px; /* Space around the grid inside the container */
  z-index: 20; /* Ensure it's above other content */
  overflow: hidden;
}

.inventory-row {
  display: grid;
  gap: 4px;
}

.inventory-item {
  width: 50px;
  height: 50px;
  background: #eee;
  gap: 8px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.quantity-text {
  position: absolute;
  bottom: -20px; /* Adjust spacing from the bottom */
  right: -2px; /* Adjust spacing from the right */
  color: white; /* Text color */
  padding: 2px 5px; /* Padding around the text */
  border-radius: 3px; /* Rounded corners */
  font-size: 17px; /* Adjust font size */
  font-weight: bold; /* Make text bold */
  text-shadow: 
      1px 1px 0 black, 
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black;
}

.inventory-item:hover {
  border-color: #555; /* Change border color on hover */
}