<!-- <div class="board">
    <div
      class="row"
      *ngFor="let row of tileMap; let rowIndex = index">
      <div
        class="tile"
        *ngFor="let tile of row; let colIndex = index"
        [ngClass]="{
          'land': tile.type === 'land',
          'water': tile.type === 'water',
        }"
        [style.top.px]="rowIndex * getTileSize()"
        [style.left.px]="colIndex * getTileSize()">
      </div>
    </div>
    <div
      class="player"
      [style.top.px]="player?.yPos"
      [style.left.px]="player?.xPos">
      <img [src]="player?.image" alt="Player" class="player-image" />
    </div>
  </div> -->
  <div class="canvas-container">
    <canvas #gameCanvas width="1250" height="950"></canvas>
  </div>