<div class="hotbar-window">
    <div class="hotbar-row" data-grid="hotbar">
        <div class="inventory-item no-user-select column items-cell"
        *ngFor="let item of items; let i = index"
        [ngClass]="{'inventory-item-selected': i === selectedItemIndex}">
            <ng-container>
            <div class="image-wrapper no-select">
                <p class="slot-number no-select">{{ i + 1 }}</p>
                <div class="item-wrapper" *ngIf="item">
                    <div class="image no-select" [innerHTML]="ImageService.getImageHtml(item)"></div>
                    <p class="quantity-text no-select" *ngIf="item.quantity > 1">{{ item.quantity }}</p>
                </div>
            </div>
            </ng-container>
        </div>
    </div>
</div>